body {
  margin: 0;
  background-color: rgba(113, 162, 146, 0.772);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  background-color: rgba(113, 162, 146, 0.822);
  padding: 0.5rem 1rem;
  margin: 1rem;
  border-radius: 0.25rem;
  border: 0.1rem solid black;
  box-shadow: rgba(153, 151, 151, 0.703) 0.1rem 0.1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
