body {
  margin: 0;
  padding: 2rem;
  align-items: center;
}


input[type="text"] {
  margin-bottom: 1rem;
  height: 2rem;
  text-indent: 0.75rem;
  border: 1px solid #444;
  border-radius: 0.25rem;
  display: block;
}
h1 {
  justify-content: center;
  position: center;
  align-items: center;
}

.button {
  width: 10rem;
  gap: 5rem;
  position: relative;
  flex: auto;
  flex-direction: column;
}